*{
    margin :0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #3c3b3f, #605c3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
input{
    font-size: 1.2rem;
    background: transparent;
}
.input{
    /* width: 100%; */
    margin-bottom: 2rem;
}
.input label{
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
}
select{
    font-size: 1.2rem;
    width: 10rem;
    margin-left: 1rem;
}
label input{
    margin-left: .8rem;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
}
label{
    color: white;
    font-weight: 500;
}
form{
    background: linear-gradient(to right, #eb5757, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    padding: 2%;
    margin: 0 auto;
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button{
    margin-top: 2rem;
    padding: 2%;
    color: white;
    font-size: 1.2rem;
    background-color: crimson;
}
button:last-child{
    margin-left: .8rem;
    color: red;
    background-color: white;
}

@media (min-width:500px){
    form{
        width: 80%;
    }
}
@media (min-width:1024px){
    form{
        width: 50%;
    }
}